@use "../abstracts";

.auth {
    display: flex;

    height: 100vh;

    color: var(--sign-up-text-color, #1a162e);
    background-color: var(--sign-up-bg);
    font-weight: 500;

    text-align: center;
    
    user-select: none;

    &__media,
    &__content {
        flex: 1;
        padding: 0px 30px;
    }

    &__media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__img,
    &__media-desc {
        max-width: 422px;

        @include abstracts.screen(lg) {
            max-width: 375px;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__media-desc {
        margin-top: 49px;
        font-size: 1.8rem;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            margin-bottom: 200px;
            font-size: 1.5rem;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        background-color: var(--sign-up-content-bg);

        @include abstracts.screen(md) {
            position: fixed;
            inset: 0;
            z-index: 1;
            overflow-y: auto;

            transition: translate 0.3s;

            &.hide {
                translate: 100%;
            }
        }
    }

    &__logo-media {
        margin-bottom: 151px;
    }

    &__logo-content {
        justify-content: center;
        margin-bottom: 50px;
    }

    &__wrapper {
        max-width: 460px;
        width: 100%;    
        margin: 0 auto;
    }

    &__form {
        margin-top: 50px;

        &:has(:invalid) .auth__confirm {
            opacity: 0.3;
            pointer-events: none;
        }
    }

    &__heading {
        margin-bottom: 10px;
        font-size: 3rem;
        line-height: 146.667%;
    }

    &__desc {
        margin-bottom: 60px;
        padding: 0 15px;
        color: #9e9da8;
        font-size: 1.5rem;
        line-height: 146.667%;
    }

    &__form-group {
        position: relative;

        margin-bottom: 30px;
    }

    &__input {
        display: block;
        width: 100%;
        height: 50px;
        padding: 0px 50px 0px 12px;

        font-size: 1.8rem;
        line-height: 144.444%;

        border-radius: 10px;
        border: 1px solid var(--sign-up-input-color);
        transition: border-color 0.3s background-color 0.3s;
        &::placeholder {
            color: var(--sign-up-input-color);
        }

        &:focus-within {
            border-color: #77dae6;
        }

        &:not(:placeholder-shown):invalid ~ .auth__error {
            opacity: 1;
            visibility: inherit;
        }

        &:not(:placeholder-shown):invalid {
            border-color: red;
            background-color: rgba($color: red, $alpha: 0.1);
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
    }

    &__input#email ~ &__icon {
        right: 12px;
    }

    &__error {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        position: absolute;
        left: 8px;
        bottom: -16px;
        font-size: 1.4rem;
        color: red;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
    }

    &__check {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.5rem;
        line-height: 146.667%;
        color: var(--sign-up-input-color);
        user-select: none;
    }

    &__check-box {
        position: relative;
        width: 20px;
        height: 20px;
        border: 2px solid var(--sign-up-input-color);
        border-radius: 6px;
        appearance: none; // Loại bỏ kiểu mặc định của checkbox
        -webkit-appearance: none;
        cursor: pointer;

        &:checked {
            background-color: #ffb700;
            border: 2px solid #ffb700;
        }

        &:checked ~ .sign-up__check-label {
            color: var(--sign-up-text-color);
        }

        &:checked::before {
            content: "";
            position: absolute;
            width: 12px;
            height: 8px;
            transform: translate(0%, 30%);
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            rotate: -45deg;
            border-radius: 2px;
        }
    }

    &__recovery {
        color: #0071dc;
        font-size: 1.5rem;
        line-height: 146.667%;
    }

    &__confirm {
        margin-bottom: 30px;
        width: 100%;
        height: 50px;
    }

    &__google {
        display: flex;
        align-items: center;
        gap: 10px;

        margin-bottom: 108px;
        width: 100%;
        height: 52px;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &-desc {
            font-weight: 400;

            color: #9e9da8;
        }

        &-link {
            color: #0071dc;
            font-weight: 500;
        }
    }
}
