@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*common*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Gordita";
  color: var(--text-color);
  background-color: var(--body-color);
}

a {
  text-decoration: none;
  color: inherit;
}

img,
a,
button,
textarea,
select,
input {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  padding: 0;
}

/*--icon-color*/
.icon {
  filter: var(--icon-color);
}

/*grid system*/
.col, .row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
/*dart mode*/
html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5951%) hue-rotate(265deg) brightness(101%) contrast(102%);
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow-color: rgba(0, 0, 0, 0.2);
  --top-act-separate-bg-color: #ededf6;
  --body-color: #292e39;
  --dropdown-bg-color: #2f3441;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-text-color: #b9babe;
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(16%) sepia(14%) saturate(1087%) hue-rotate(186deg) brightness(91%) contrast(85%);
  --top-menu-main-border-color: #171c28;
  --menu-column-heading-color: #b9babe;
  --menu-column-item-color: #b9babe;
  --menu-column-icon-2-color: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(1164%) hue-rotate(180deg) brightness(92%) contrast(115%);
  --cate-item-bg-color: #171c28;
  --cate-item-thumb-bg-color: #292e39;
  --cate-item-desc-color: #fff;
  --filter-btn-bg: #171c28;
  --filter-btn-color: #fff;
  --product-card-bg: #171c28;
  --product-card-shadow: rgba(0, 0, 0, 0.2);
  --product-card-title-color: #fff;
  --product-card-price-color: #fff;
  --filter-bg:#292E39;
  --filter-arrow-color: brightness(0) saturate(100%) invert(13%) sepia(8%) saturate(1918%) hue-rotate(183deg) brightness(95%) contrast(86%);
  --filter-text-color: #fff;
  --filter-shadow:rgba(0, 0, 0, 0.40);
  --slider-bg: #292E39;
  --filter-form-tag-bg: #171C28;
  --footer-bg-color: #1a1d1a;
}
@media (max-width: 991.98px) {
  html.dark {
    --header-shadow-color: rgba(0, 0, 0, 0.2);
    --side-bar-bg-color: #292e39;
  }
}

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(26%) saturate(1657%) hue-rotate(212deg) brightness(89%) contrast(96%);
  --header-bg-color: #eee;
  --top-act-group-bg-color: #fff;
  --top-act-group-shadow-color: rgba(237, 237, 246, 0.2);
  --top-act-separate-bg-color: #ededf6;
  --body-color: #f6f6f6;
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --top-menu-main-border-color: #d2d1d6;
  --menu-column-heading-color: #1a162e;
  --menu-column-item-color: #1a162e;
  --cate-item-bg-color: #eee;
  --cate-item-thumb-bg-color: #fff;
  --cate-item-desc-color: #1a162e;
  --filter-btn-bg: #fff;
  --filter-btn-color: #6c6c72;
  --product-card-bg: #fff;
  --product-card-shadow: rgba(237, 237, 246, 0.2);
  --product-card-title-color: #1a162e;
  --product-card-price-color: #1a162e;
  --filter-bg: #fff;
  --filter-arrow-color: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(0%) hue-rotate(287deg) brightness(105%) contrast(103%);
  --filter-text-color: #1a162e;
  --filter-shadow: rgba(200, 200, 200, 0.4);
  --slider-bg: #fff;
  --filter-form-tag-bg: #f8f8fb;
  --footer-bg-color: #eef2e9;
  --sign-up-bg: #fafafd;
  --sign-up-text-color: #1a162e;
  --sign-up-content-bg: #fff;
  --sign-up-input-color: #d2d1d6;
}
@media (max-width: 991.98px) {
  html {
    --header-bg-color: #fff;
    --header-shadow-color: rgba(237, 237, 246, 0.2);
    --side-bar-bg-color: #fff;
  }
}
@media (max-width: 767.98px) {
  html {
    --cate-item-bg-color: #fff;
  }
}

/*logo*/
.logo {
  display: flex;
  align-items: center;
  margin-right: 9.62686%;
  gap: 14px;
}
@media (max-width: 1199.98px) {
  .logo {
    margin-right: 1.7462%;
  }
}
@media (max-width: 991.98px) {
  .logo {
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
  }
}
@media (max-width: 991.98px) {
  .logo__svg {
    width: 24px;
  }
}
.logo__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
}
@media (max-width: 991.98px) {
  .logo__title {
    font-size: 1.8rem;
    line-height: 144.444%;
  }
}

/*Dropdown*/
.dropdown {
  display: none;
  position: absolute;
  left: 0;
  padding-top: 54px;
  width: min(1240px, 100%);
}
@media (max-width: 991.98px) {
  .dropdown {
    position: static;
    padding-top: 0;
  }
}
.dropdown__inner {
  position: relative;
  padding: 30px 30px 23px;
  border-radius: 20px;
  background: var(--dropdown-bg-color);
  box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
  color: var(--dropdown-text-color);
}
@media (max-width: 991.98px) {
  .dropdown__inner {
    padding: 0 10px;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
  }
}
@media (max-width: 575.98px) {
  .dropdown__inner {
    padding-top: 3px;
  }
}
.dropdown__inner::before {
  position: absolute;
  top: -14px;
  left: var(--arrow-left-pos);
  content: url("../icons/polygon.svg");
  display: inline-block;
  translate: -50%;
  filter: var(--dropdown-arrow-color);
}
@media (max-width: 991.98px) {
  .dropdown__inner::before {
    display: none;
  }
}

.top-menu {
  --main-menu-width: 292px;
  position: relative;
  height: calc(min(582px, 100vh - 154px) - 53px);
}
@media (max-width: 991.98px) {
  .top-menu {
    height: 100%;
  }
}
.top-menu__main {
  width: var(--main-menu-width);
  height: inherit;
  border-right: solid 1px var(--top-menu-main-border-color);
  overflow-y: auto;
}
@media (max-width: 991.98px) {
  .top-menu__main {
    width: 100%;
    overflow-y: unset;
    border-right: none;
  }
}

.menu-column {
  display: flex;
  gap: 14px;
}
.menu-column + .menu-column {
  margin-top: 23px;
}
.menu-column__icon {
  position: relative;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
}
.menu-column__icon-1 {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.menu-column__icon-2 {
  width: 18px;
  height: 18px;
  object-fit: contain;
  position: absolute;
  right: 0;
  bottom: 0;
  filter: var(--menu-column-icon-2-color);
}
.menu-column__content {
  flex: 1;
}
.menu-column__heading {
  margin-top: 6px;
  color: var(--menu-column-heading-color);
  font-weight: 500;
  line-height: 150%;
}
@media (max-width: 991.98px) {
  .menu-column__heading {
    margin-bottom: 12px;
  }
}
.menu-column__list {
  margin-top: 19px;
}
@media (max-width: 991.98px) {
  .menu-column__list {
    margin-top: 0;
  }
}
.menu-column__item--active .sub-menu {
  display: grid;
}
.menu-column__item--active > .menu-column__link, .menu-column__item:hover > .menu-column__link {
  color: #0071dc;
  font-weight: 500;
}
.menu-column__link {
  display: block;
  padding: 7px 0px;
  color: var(--menu-column-item-color);
  font-size: 1.4rem;
  line-height: 142.857%;
}

.sub-menu {
  position: absolute;
  inset: 0 0 0 var(--main-menu-width);
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding-left: 30px;
  height: 100%;
  overflow-y: auto;
}
@media (max-width: 991.98px) {
  .sub-menu {
    position: static;
    padding-left: 0;
    grid-template-columns: 1fr;
    gap: 20px;
    overflow-y: unset;
  }
}
@media (max-width: 575.98px) {
  .sub-menu {
    margin-top: 13px;
    margin-bottom: 3px;
    gap: 23px;
  }
}
.sub-menu--not-main {
  position: initial;
  inset: initial;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 0;
}
@media (max-width: 991.98px) {
  .sub-menu--not-main {
    grid-template-columns: 1fr;
  }
}

.slideshow {
  --page-color: #fff;
}
.slideshow__inner {
  position: relative;
  display: flex;
  /* Ẩn các phần tử vượt quá kích thước của phần tử cha */
  overflow: hidden;
}
.slideshow__item {
  position: relative;
  /* Ngăn các phần tử flex không bị thu nhỏ lại */
  flex-shrink: 0;
  /* Mỗi mục chiếm 100% chiều rộng của phần tử cha */
  width: 100%;
  padding-top: 34%;
}
@media (max-width: 575.98px) {
  .slideshow__item {
    padding-top: 49.55%;
  }
}
.slideshow__img {
  position: absolute;
  top: 0;
  left: 0;
  /* Hình ảnh chiếm 100% chiều rộng của phần tử cha */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 575.98px) {
  .slideshow__img {
    border-radius: 10px;
  }
}
.slideshow__page {
  position: absolute;
  left: 5.22388%;
  bottom: 14.5054%;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 13.4%;
}
.slideshow__num {
  color: var(--page-color);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%; /* 144.444% */
}
@media (max-width: 575.98px) {
  .slideshow__num {
    border-radius: 10px;
    font-size: 1.4rem;
    line-height: 142.857%;
  }
}
.slideshow__slider {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 4px;
  background-color: var(--page-color);
}
@media (max-width: 575.98px) {
  .slideshow__slider {
    height: 3px;
  }
}
.slideshow__slider::before, .slideshow__slider::after {
  position: absolute;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border-radius: 50%;
  border: 4px solid var(--page-color);
}
@media (max-width: 575.98px) {
  .slideshow__slider::before, .slideshow__slider::after {
    border-width: 3px;
  }
}
.slideshow__slider::before {
  top: 50%;
  left: -3px;
  translate: -50% -50%;
}
@media (max-width: 575.98px) {
  .slideshow__slider::before {
    left: -5px;
  }
}
.slideshow__slider::after {
  top: 50%;
  right: -3px;
  translate: 50% -50%;
}
@media (max-width: 575.98px) {
  .slideshow__slider::after {
    right: -5px;
  }
}

.cate-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 26px 20px 20px;
  border-radius: 16px;
  height: 100%;
  background-color: var(--cate-item-bg-color);
}
@media (max-width: 1199.98px) {
  .cate-item {
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .cate-item {
    flex-direction: row;
  }
}
.cate-item__thumb {
  display: block;
  width: 116px;
  height: 116px;
  object-fit: contain;
  border-radius: 8px;
  background-color: var(--cate-item-thumb-bg-color);
}
@media (max-width: 1199.98px) {
  .cate-item__thumb {
    width: 100%;
    height: 150px;
  }
}
@media (max-width: 767.98px) {
  .cate-item__thumb {
    width: 88px;
    height: 88px;
  }
}
.cate-item__info {
  padding-right: 30px;
}
@media (max-width: 1399.98px) {
  .cate-item__info {
    padding-right: 0px;
  }
}
.cate-item__title {
  margin-bottom: 6px;
  color: var(--text-color);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
}
@media (max-width: 767.98px) {
  .cate-item__title {
    font-size: 1.8rem;
  }
}
.cate-item__desc {
  color: var(--cate-item-desc-color);
  font-size: 1.6rem;
  line-height: 150%;
}
@media (max-width: 767.98px) {
  .cate-item {
    font-size: 1.4rem;
    line-height: 142.857%;
  }
}

.filter-btn {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 6px;
  color: var(--filter-btn-color);
  background-color: var(--filter-btn-bg);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 142.857%;
}
.filter-btn__icon {
  margin-left: 14px;
  width: 16px;
  height: 14.4px;
}

.like-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);
}
.like-btn:not(.like-btn--liked) .like-btn__icon--liked {
  display: none;
}
.like-btn--liked .like-btn__icon {
  display: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  padding: 0 20px;
  border-radius: 6px;
  color: var(--filter-text-color);
  background-color: #f8f8fb;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}
.btn + .btn:not(.btn--no-margin) {
  margin-left: 20px;
}
.btn--text {
  color: #9e9da8;
  background-color: transparent;
  font-weight: 400;
}
.btn--primary {
  background-color: #ffb700;
}
.btn--outline {
  border: 1px solid #d2d1d6;
  background: transparent;
}
.btn--rounded {
  border-radius: 99px;
}
.btn[disabled], .btn--disable {
  opacity: 0.4;
  pointer-events: none;
}
.btn:hover {
  opacity: 0.9;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  padding: 16px;
  border-radius: 20px;
  background: var(--product-card-bg);
  box-shadow: 0px 20px 60px 10px var(--product-card-shadow);
}
.product-card__img-wrap {
  position: relative;
  padding-top: 101.4%;
}
@media (max-width: 575.98px) {
  .product-card__img-wrap {
    padding-top: 97.8%;
  }
}
.product-card__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-card__like-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.product-card__title {
  color: var(--product-card-title-color);
  font-weight: 500;
  line-height: 150%;
}
.product-card__brand {
  color: #9e9da8;
  font-size: 1.5rem;
  line-height: 146.667%;
}
.product-card__price {
  color: var(--product-card-price-color);
  font-weight: 500;
  line-height: 150%;
}
.product-card__star {
  margin-left: auto;
  margin-right: 6px;
}
.product-card__score {
  color: var(--product-card-price-color);
  font-weight: 500;
  line-height: 150%;
}

.filter-wrap {
  position: relative;
  z-index: 10;
}

.filter {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 31px 30px;
  border-radius: 20px;
  background-color: var(--filter-bg);
  box-shadow: 0px 40px 90px var(--filter-shadow);
  transition: 0.2s;
}
@media (max-width: 575.98px) {
  .filter {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    padding: 32px 20px 21px;
  }
}
.filter.hide {
  opacity: 0;
  visibility: hidden;
}
.filter__arrow {
  position: absolute;
  top: -17px;
  right: 22px;
  filter: var(--filter-arrow-color);
}
.filter__heading, .filter__form-label, .filter__form-input {
  color: var(--filter-text-color);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 145.455%;
}
.filter__heading {
  margin-bottom: 30px;
}
.filter__form-label {
  display: block;
}
.filter__form-group {
  margin-top: 20px;
}
.filter__form-slider {
  position: relative;
  width: 100%;
  height: 2px;
  margin: 30px 0px;
  border: 1px solid #d2d1d6;
}
.filter__form-slider::before, .filter__form-slider::after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  translate: 0 -50%;
  width: 22px;
  height: 22px;
  background-color: var(--slider-bg);
  border-radius: 50%;
  border: 6px solid orange;
}
.filter__form-slider::before {
  left: var(--min-value);
}
.filter__form-slider::after {
  left: var(--max-value);
}
.filter__form-group--inline {
  display: flex;
  gap: 30px;
}
.filter__form-label--small, .filter__form-input {
  font-size: 1.4rem;
  line-height: 142.8%;
  background-color: transparent;
}
.filter__form-label--small {
  display: block;
  margin-bottom: 10px;
}
.filter__form-input {
  margin-bottom: 18px;
  padding: 8px 12px;
  max-width: 121px;
  border-radius: 6px;
  border: 1px solid #d2d1d6;
}
@media (max-width: 575.98px) {
  .filter__form-input {
    font-size: 1.6rem;
  }
}
.filter__form-select-wrap {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 5px 14px;
  border-radius: 6px;
  border: 1px solid #d2d1d6;
}
@media (max-width: 575.98px) {
  .filter__form-select-wrap {
    width: 60vw;
  }
}
.filter__form-select, .filter__form-tag {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
}
.filter__form-select {
  display: flex;
  color: var(--filter-text-color);
  cursor: pointer;
}
.filter__form-select-value {
  gap: 65px;
}
.filter__form-select-unit {
  gap: 17px;
}
.filter__form-select-arrow {
  margin: 0px 5px;
  width: 14px;
  height: 24px;
}
.filter__form-select-separate {
  width: 1px;
  height: 35px;
  border: 1px solid #d2d1d6;
}
.filter__form-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}
@media (max-width: 1199.98px) {
  .filter__form-tags {
    column-gap: 9px;
  }
}
.filter__form-tag {
  padding: 0px 12px;
  height: 32px;
  color: #9e9da8;
  border-radius: 6px;
  background: var(--filter-form-tag-bg);
  transition: color 0.3s;
}
.filter__form-tag:hover {
  color: var(--filter-text-color);
}
.filter__form-search-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 334px;
  padding: 10px 16px;
  border-radius: 6px;
  border: 1px solid #d2d1d6;
}
@media (max-width: 1199.98px) {
  .filter__form-search-wrap {
    width: 100%;
  }
}
.filter__form-search {
  width: 90%;
  border: none;
  outline: none;
  color: var(--filter-text-color);
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
@media (max-width: 575.98px) {
  .filter__form-search {
    font-size: 1.6rem;
  }
}
.filter__form-search::placeholder {
  color: #9e9da8;
  font-weight: 400;
}
.filter__form-search-icon {
  width: 24px;
}
.filter__row {
  display: flex;
  gap: 30px;
}
@media (max-width: 1199.98px) {
  .filter__body {
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 280px);
    overflow-y: auto;
    padding-right: 12px;
    overscroll-behavior: contain;
  }
}
.filter__separate {
  width: 1px;
  height: 162px;
  background-color: #eee;
}
@media (max-width: 1199.98px) {
  .filter__separate {
    width: 100%;
    height: 1px;
  }
}
.filter__footer {
  justify-content: flex-end;
  gap: 10px;
  margin-top: 18px;
}
@media (max-width: 575.98px) {
  .filter__footer {
    position: sticky;
    bottom: 0;
    padding: 10px 0;
    background: var(--filter-bg);
  }
}
.filter__footer .btn {
  margin: 0;
}
.filter__cancel, .filter__submit {
  padding: 0px 10px;
  height: 38px;
}
@media (max-width: 575.98px) {
  .filter__cancel, .filter__submit {
    flex: 1;
    height: 48px;
  }
}
.filter__cancel {
  font-size: 1.5rem;
}
.filter__submit {
  font-size: 1.4rem;
}

/*header*/
.top-act__btn, .top-act__group, .top-act, .navbar__list, .top-bar {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--header-bg-color);
  padding: 30px 0px;
}
@media (max-width: 991.98px) {
  .header {
    padding: 22px 0px;
    box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
  }
}
@media (max-width: 575.98px) {
  .header {
    padding: 16px 0px;
  }
}

.top-bar {
  position: relative;
  z-index: 9;
}

@media (max-width: 991.98px) {
  .navbar {
    position: fixed;
    inset: 0 50% 0 0;
    padding: 20px 30px;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--side-bar-bg-color);
    z-index: 9;
    translate: -100%;
    transition: 0.5s ease;
  }
  .navbar.show {
    translate: 0;
    box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
  }
  .navbar.show ~ .navbar__overlay {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 575.98px) {
  .navbar {
    inset: 0 20% 0 0;
    padding: 10px;
  }
}
.navbar__overlay {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
@media (max-width: 991.98px) {
  .navbar__overlay {
    position: fixed;
    inset: 0;
    z-index: 8;
    background: rgba(0, 0, 0, 0.4);
  }
}
.navbar__close-btn {
  display: none;
}
@media (max-width: 991.98px) {
  .navbar__close-btn {
    display: block;
    padding: 10px;
  }
}
@media (max-width: 991.98px) {
  .navbar__list {
    flex-direction: column;
    align-items: flex-start;
    height: calc(100% - 28px);
    overflow-y: auto;
    overscroll-behavior: contain;
  }
}
@media (max-width: 575.98px) {
  .navbar__list {
    height: calc(100% - 115px);
  }
}
.navbar__list-item:hover .dropdown {
  display: block;
}
@media (max-width: 991.98px) {
  .navbar__list-item {
    width: 100%;
  }
  .navbar__list-item:hover .dropdown {
    display: none;
  }
}
.navbar__item--active .dropdown {
  display: block !important;
}
.navbar__link {
  display: flex;
  padding: 14px 15px;
  gap: 6px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
@media (max-width: 991.98px) {
  .navbar__link {
    padding: 14px 10px;
    font-size: 1.6rem;
    line-height: 150%;
    justify-content: space-between;
  }
}
@media (max-width: 575.98px) {
  .navbar__link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.navbar__arrow {
  padding-top: 4px;
  rotate: -90deg;
  transition: 0.3s ease;
}
.navbar__item--active .navbar__arrow {
  rotate: 0deg;
}

.nav-act {
  align-items: center;
  padding: 10px 10px;
}
.nav-act__title, .nav-act__qty {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
.nav-act__title {
  margin-left: 16px;
}
.nav-act__qty {
  margin-left: auto;
}

.top-act {
  margin-left: auto;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .top-act {
    margin-left: 0;
  }
}
.top-act__group {
  border-radius: 8px;
  background: var(--top-act-group-bg-color);
  box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow-color);
}
.top-act__group--single .top-act__btn {
  padding: 13px;
}
.top-act__btn {
  gap: 10px;
  padding: 13px 20px;
}
.top-act__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
.top-act__separate {
  width: 1px;
  height: 30px;
  background: var(--top-act-separate-bg-color);
}
.top-act__avatar {
  display: block;
  width: 50px;
  border-radius: 8px;
  box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.top-act__sign {
  display: flex;
}
.top-act__link {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}

.footer {
  margin-top: 30px;
  padding-top: 30px;
  background-color: var(--footer-bg-color);
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .footer__top {
    flex-wrap: wrap;
    gap: 30px;
  }
}
.footer__heading {
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 146.667%;
}
.footer__item {
  margin-bottom: 10px;
  font-size: 1.4rem;
  line-height: 146.667%;
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 40px;
}
@media (max-width: 767.98px) {
  .footer__right {
    margin-left: auto;
  }
}
.footer__subscribe {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 20px;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .footer__subscribe {
    margin-top: 0px;
  }
}
.footer__subscribe-label {
  display: block;
  font-size: 1.3rem;
  font-weight: 500;
}
.footer__subscribe-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}
@media (max-width: 991.98px) {
  .footer__subscribe-group {
    flex-direction: column;
    align-items: end;
  }
}
@media (max-width: 767.98px) {
  .footer__subscribe-group {
    flex-direction: row;
  }
}
.footer__subscribe-input, .footer__subscribe-button {
  padding: 12px 32px;
  border-radius: 999px;
  font-size: 1.8rem;
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .footer__subscribe-input, .footer__subscribe-button {
    font-size: 1.6rem;
  }
}
.footer__subscribe-input {
  width: 100%;
  border: 1px solid #ccc;
  color: #333;
}
.footer__subscribe-button {
  height: 100%;
  cursor: pointer;
  user-select: none;
}
.footer__social {
  display: flex;
  gap: 40px;
}
.footer__social-link {
  transition: color 0.3s ease;
}
.footer__social-link .fa-facebook-f {
  color: #1877f2;
}
.footer__social-link .fa-twitter {
  color: #1da1f2;
}
.footer__social-link .fa-instagram {
  color: #e4405f;
}
.footer__social-link .fa-linkedin-in {
  color: #0077b5;
}
.footer__social-link:hover {
  opacity: 0.8;
}
.footer__bottom {
  padding: 30px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copy-links {
  display: flex;
  gap: 20px;
}
.footer__copy-link {
  font-size: 1.2rem;
  color: #999;
  user-select: none;
}

.fab {
  font-size: 3rem;
}

@media (max-width: 575.98px) {
  .container {
    --grid-gutter-x: 40px;
  }
}

.home__container {
  margin-top: 40px;
}
@media (max-width: 575.98px) {
  .home__container {
    margin-top: 30px;
  }
}
.home__heading {
  color: var(--text-color);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 141.667%;
}
.home__cate {
  --grid-gutter-x: 51px;
}
@media (max-width: 1199.98px) {
  .home__cate {
    --grid-gutter-x: 30px;
  }
}
@media (max-width: 991.98px) {
  .home__cate {
    --grid-gutter-x: 15px;
  }
}
@media (max-width: 767.98px) {
  .home__cate {
    --grid-gutter-y: 20px;
  }
}
.home__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.home__product {
  align-items: center;
}

.auth {
  display: flex;
  height: 100vh;
  color: var(--sign-up-text-color, #1a162e);
  background-color: var(--sign-up-bg);
  font-weight: 500;
  text-align: center;
}
.auth__media, .auth__content {
  flex: 1;
}
.auth__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth__img {
  display: block;
  max-width: 422px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.auth__media-desc {
  max-width: 422px;
  margin-top: 49px;
  font-size: 1.8rem;
  line-height: 144.444%;
}
.auth__content {
  display: flex;
  align-items: center;
  background-color: var(--sign-up-content-bg);
}
.auth__logo {
  justify-content: center;
  margin-bottom: 50px;
}
.auth__wrapper {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
}
.auth__form {
  margin-top: 50px;
}
.auth__heading {
  margin-bottom: 10px;
  font-size: 3rem;
  line-height: 146.667%;
}
.auth__desc {
  margin-bottom: 60px;
  padding: 0 30px;
  color: #9e9da8;
  font-size: 1.5rem;
  line-height: 146.667%;
}
.auth__form-group {
  position: relative;
}
.auth__form-group #email {
  margin-bottom: 30px;
}
.auth__form-group #password,
.auth__form-group #confirm-password {
  margin-bottom: 20px;
}
.auth__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0px 50px 0px 12px;
  font-size: 1.8rem;
  line-height: 144.444%;
  border-radius: 10px;
  border: 1px solid var(--sign-up-input-color);
  transition: border-color 0.3s;
}
.auth__input::placeholder {
  color: var(--sign-up-input-color);
}
.auth__input:focus-within {
  border-color: #77dae6;
}
.auth__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.auth__input#email ~ .auth__icon {
  right: 12px;
}
.auth__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.auth__check {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  line-height: 146.667%;
  color: var(--sign-up-input-color);
}
.auth__check-box {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid var(--sign-up-input-color);
  border-radius: 6px;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.auth__check-box:checked {
  background-color: #0071dc;
  border: 2px solid #0071dc;
}
.auth__check-box:checked ~ .sign-up__check-label {
  color: var(--sign-up-text-color);
}
.auth__check-box:checked::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 8px;
  transform: translate(0%, 30%);
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  rotate: -45deg;
  border-radius: 2px;
}
.auth__recovery {
  color: #0071dc;
  font-size: 1.5rem;
  line-height: 146.667%;
}
.auth__confirm {
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
}
.auth__google {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 108px;
  width: 100%;
  height: 52px;
}
.auth__footer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.auth__footer-desc {
  font-weight: 400;
  color: #9e9da8;
}
.auth__footer-link {
  color: #0071dc;
  font-weight: 500;
}

/*# sourceMappingURL=main.css.map */
