/*Dropdown*/
.dropdown {
    display: none;
    position: absolute;
    left: 0;
    padding-top: 54px;
    width: min(1240px, 100%);
    &__inner {
        position: relative;
        padding: 30px 30px 23px;
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
        color: var(--dropdown-text-color);
        &::before {
            position: absolute;
            top: -14px;
            left: var(--arrow-left-pos);
            content: url("../icons/polygon.svg");
            display: inline-block;
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
    }
}

.top-menu {
    --main-menu-width: 292px;
    position: relative;

    // max-height thì khi mà phần tử trong inner ít thì inner thu gọn lại
    //thiết kế chiều cao la 582px, nhưng khi người dung thu nhỏ cửa sổ thì phần bên dưới sẽ kô nhìn thấy
    //nên phải lấy 100vh - 154px. 154px là độ cao từ trên top xuống tới phần inner. xem file word
    // vì đã padding trên 30px dưới 23px nên phải trừ cho 53px thì mới ra chiều cao của top-menu
    height: calc(min(582px, 100vh - 154px) - 53px);
    &__main {
        width: var(--main-menu-width);
        height: inherit;
        border-right: solid 1px var(--top-menu-main-border-color);

        overflow-y: auto;
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    + .menu-column {
        margin-top: 23px;
    }
    &__icon {
        position: relative;

        //icon sẽ ko biị co lại khi mà nội dung text bên cạnh lớn lên
        flex-shrink: 0;
        width: 36px;
        height: 36px;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        //đặt object fit để khi người dùng có tải ảnh kích thước to sẽ ko bị vỡ giao diện
        object-fit: contain;
    }

    &__icon-2 {
        width: 18px;
        height: 18px;
        object-fit: contain;
        position: absolute;
        right: 0;
        bottom: 0;
        filter: var(--menu-column-icon-2-color);
    }

    &__content {
        // content chiếm hết độ rộng còn lại
        flex: 1;
    }

    &__heading {
        margin-top: 6px;
        color: var(--menu-column-heading-color);
        font-weight: 500;
        line-height: 150%;
    }

    &__list {
        // margin top 26 nhung ma đã padding 7px rồi nên 26 - 7 = 19px
        margin-top: 19px;
    }

    &__item--active {
        .sub-menu {
            display: flex;
        }
    }
    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
    }

    &__link {
        display: block;
        padding: 7px 0px;
        color: var(--menu-column-item-color);
        font-size: 1.4rem;
        line-height: 142.857%;
    }
}

.sub-menu {
    position: absolute;
    inset: 0 0 0 var(--main-menu-width);

    display: none;
    justify-content: space-between;

    padding-left: 30px;
    height: 100%;

    overflow-y: auto;
}
