/*Dropdown*/
@use "../abstracts";

.dropdown {
    display: block;
    position: absolute;
    left: 0;
    padding-top: 54px;
    width: min(1240px, 100%);

    @include abstracts.breakpoint(lg) {
        position: static;
        padding-top: 0;
    }
    &__inner {
        position: relative;
        padding: 30px 30px 23px;
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
        color: var(--dropdown-text-color);

        @include abstracts.breakpoint(lg) {
            padding: 0 10px;
            background: transparent;
            order-radius: 0;
            box-shadow: none;
        }
        @include abstracts.breakpoint(sm) {
            padding-top: 3px;
        }
        &::before {
            position: absolute;
            top: -14px;
            left: var(--arrow-left-pos);
            content: url("../icons/polygon.svg");
            display: inline-block;
            translate: -50%;
            filter: var(--dropdown-arrow-color);
            @include abstracts.breakpoint(lg) {
                display: none;
            }
        }
    }
}

.top-menu {
    --main-menu-width: 292px;
    position: relative;

    // max-height thì khi mà phần tử trong inner ít thì inner thu gọn lại
    //thiết kế chiều cao la 582px, nhưng khi người dung thu nhỏ cửa sổ thì phần bên dưới sẽ kô nhìn thấy
    //nên phải lấy 100vh - 154px. 154px là độ cao từ trên top xuống tới phần inner. xem file word
    // vì đã padding trên 30px dưới 23px nên phải trừ cho 53px thì mới ra chiều cao của top-menu
    height: calc(min(582px, 100vh - 154px) - 53px);

    @include abstracts.breakpoint(lg) {
        height: 100%;
    }

    &__main {
        width: var(--main-menu-width);
        height: inherit;
        border-right: solid 1px var(--top-menu-main-border-color);

        overflow-y: auto;

        @include abstracts.breakpoint(lg) {
            width: 100%;
            overflow-y: unset;
            border-right: none;
        }
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    + .menu-column {
        margin-top: 23px;
    }
    &__icon {
        position: relative;

        //icon sẽ ko bị co lại khi mà nội dung text bên cạnh lớn lên
        flex-shrink: 0;
        width: 36px;
        height: 36px;

        @include abstracts.breakpoint(lg) {
            // display: none;
        }
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        //đặt object fit để khi người dùng có tải ảnh kích thước to sẽ ko bị vỡ giao diện
        object-fit: contain;
    }

    &__icon-2 {
        width: 18px;
        height: 18px;
        object-fit: contain;
        position: absolute;
        right: 0;
        bottom: 0;
        filter: var(--menu-column-icon-2-color);
    }

    &__content {
        // content chiếm hết độ rộng còn lại
        flex: 1;
    }

    &__heading {
        margin-top: 6px;
        color: var(--menu-column-heading-color);
        font-weight: 500;
        line-height: 150%;

        @include abstracts.breakpoint(lg) {
            margin-bottom: 12px;
        }
    }

    &__list {
        // margin top 26 nhung ma đã padding 7px rồi nên 26 - 7 = 19px
        margin-top: 19px;

        @include abstracts.breakpoint(lg) {
            margin-top: 0;
        }
    }

    &__item {
        // them &--active vao truoc submenu sau khi sua xong
        &--active .sub-menu {
            display: grid;
        }
    }

    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
    }

    &__link {
        display: block;
        padding: 7px 0px;
        color: var(--menu-column-item-color);
        font-size: 1.4rem;
        line-height: 142.857%;
    }
}

.sub-menu {
    position: absolute;
    inset: 0 0 0 var(--main-menu-width);

    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;

    padding-left: 30px;
    height: 100%;

    overflow-y: auto;

    @include abstracts.breakpoint(lg) {
        position: static;
        padding-left: 0;
        grid-template-columns: 1fr;
        gap: 20px;
        overflow-y: unset;
    }

    @include abstracts.breakpoint(sm) {
        margin-top: 13px;
        margin-bottom: 3px;
        gap: 23px;
    }
    // Grocery và Beauty chỉ có sub menu
    &--not-main {
        position: initial;
        inset: initial;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-left: 0;
        @include abstracts.breakpoint(lg) {
            grid-template-columns: 1fr;
        }
    }
}
