.filter-wrap {
    position: relative;
    z-index: 8;
}

.filter {
    position: absolute;
    top: 50px;
    right: 0;
    padding: 31px 30px;
    border-radius: 20px;
    background-color: var(--filter-bg);
    // background-color: violet;
    box-shadow: 0px 40px 90px var(--filter-shadow);

    &__arrow {
        position: absolute;
        top: -17px;
        right: 22px;
        filter: var(--filter-arrow-color)
    }

    &__heading,
    &__form-label,
    &__form-input {
        color: var(--filter-text-color);
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__heading {
        margin-bottom: 30px;
    }

    &__form {
        &-label {
            display: block;
        }

        &-group {
            margin-top: 20px;
        }

        &-slider {
            position: relative;
            width: 100%;
            height: 2px;
            margin: 30px 0px;
            border: 1px solid #d2d1d6;

            &::before,
            &::after {
                position: absolute;
                display: block;
                content: "";

                top: 50%;
                translate: 0 -50%;
                width: 22px;
                height: 22px;

                background-color: var(--slider-bg);
                border-radius: 50%;
                border: 6px solid orange;
            }

            &::before {
                left: var(--min-value);
            }

            &::after {
                left: var(--max-value);
            }
        }

        &-group--inline {
            display: flex;
            gap: 30px;
        }

        &-label--small,
        &-input {
            font-size: 1.4rem;
            line-height: 142.8%;
            background-color: transparent;
        }

        &-label--small {
            display: block;
            margin-bottom: 10px;
        }

        &-input {
            margin-bottom: 18px;
            padding: 8px 12px;
            max-width: 121px;
            border-radius: 6px;
            border: 1px solid #d2d1d6;
        }

        &-select-wrap {
            display: flex;
            align-items: center;
            gap: 14px;
            // max-width: 274px;
            padding: 5px 14px;

            border-radius: 6px;
            border: 1px solid #d2d1d6;
        }

        &-select,
        &-tag {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
        }

        &-select {
            display: flex;
            gap: var(--gap, 65px);

            color: var(--filter-text-color);

            cursor: pointer;
        }

        &-select-arrow {
            margin: 0px 5px;
            width: 14px;
            height: 24px;
        }

        &-select-separate {
            width: 1px;
            height: 35px;
            border: 1px solid #d2d1d6;
        }

        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;
        }

        &-tag {
            padding: 0px 12px;
            height: 32px;

            color: #9e9da8;
            border-radius: 6px;
            background: var(--filter-form-tag-bg);

            transition: color 0.3s;

            &:hover {
                color: var(--filter-text-color);
            }
        }

        &-search-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 334px;
            padding: 10px 16px;

            border-radius: 6px;
            border: 1px solid #d2d1d6;
        }

        &-search {
            width: 90%;
            border: none;
            outline: none;
            color: var(--filter-text-color);
            background-color: transparent;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            &::placeholder {
                color: #9e9da8;
                font-weight: 400;
            }
        }

        &-search-icon {
            width: 24px;
        }
    }

    // End form

    &__row {
        display: flex;
        gap: 30px;
    }

    &__separate {
        width: 1px;
        height: 162px;
        background-color: #eee;
    }

    &__footer {
        justify-content: flex-end;
        gap: 10px;
        margin-top: 18px;

        & .btn {
            margin: 0;
        }
    }

    &__cancel,
    &__submit {
        padding: 0px 10px;
        height: 38px;
    }

    &__cancel {
        font-size: 1.5rem;
    }

    &__submit {
        font-size: 1.4rem;
    }
}
