/*dart mode*/
@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5951%) hue-rotate(265deg) brightness(101%) contrast(102%);
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow-color: rgba(0, 0, 0, 0.2);
    --top-act-separate-bg-color: #ededf6;
    --body-color: #292e39;

    // dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-text-color: #b9babe;
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(16%) sepia(14%) saturate(1087%) hue-rotate(186deg) brightness(91%) contrast(85%);

    --top-menu-main-border-color: #171c28;
    --menu-column-heading-color: #b9babe;
    --menu-column-item-color: #b9babe;
    --menu-column-icon-2-color: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(1164%) hue-rotate(180deg) brightness(92%) contrast(115%);

    // cate-item
    --cate-item-bg-color: #171c28;
    --cate-item-thumb-bg-color: #292e39;
    --cate-item-desc-color: #fff;

    //product
    --filter-btn-bg: #171c28;
    --filter-btn-color: #fff;
    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);
    --product-card-title-color: #fff;
    --product-card-price-color: #fff;

    //filter
    --filter-bg:#292E39;
    --filter-arrow-color: brightness(0) saturate(100%) invert(13%) sepia(8%) saturate(1918%) hue-rotate(183deg) brightness(95%) contrast(86%);
    --filter-text-color: #fff;
    --filter-shadow:rgba(0, 0, 0, 0.40);
    --slider-bg: #292E39;
    --filter-form-tag-bg: #171C28;
    
    // footer
    --footer-bg-color : #1a1d1a;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
        --side-bar-bg-color: #292e39;
    }
}
