/*common*/
*,
::before,
::after {
    box-sizing: border-box;
}



html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Gordita";
    color: var(--text-color);
    background-color: var(--body-color);
}

a {
    text-decoration: none;
    color: inherit;
}

img,
a,
button,
textarea,
select,
input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    padding: 0;
}

/*--icon-color*/
.icon {
    filter: var(--icon-color);
}
