<div class="container">
    <div class="footer__top">
        <!-- Column 1 -->
        <div class="footer__column">
            <h3 class="footer__heading"><a href="#!">SHOP</a></h3>
            <ul class="footer__list">
                <li class="footer__item"><a href="#!" class="footer__link">Drink</a></li>
                <li class="footer__item"><a href="#!" class="footer__link">Gift Cards</a></li>
                <li class="footer__item"><a href="#!" class="footer__link">Store Locator</a></li>
                <li class="footer__item"><a href="#!" class="footer__link">Refer a Friend</a></li>
            </ul>
        </div>
        <!-- Column 2 -->
        <div class="footer__column">
            <h3 class="footer__heading"><a href="#!">HELP</a></h3>
            <ul class="footer__list">
                <li class="footer__item"><a href="#!" class="footer__link">Contact Us</a></li>
                <li class="footer__item"><a href="#!" class="footer__link">FAQ</a></li>
                <li class="footer__item"><a href="#!" class="footer__link">Accessibility</a></li>
            </ul>
        </div>
        <!-- Column 3 -->
        <div class="footer__column">
            <h3 class="footer__heading"><a href="#!">ABOUT</a></h3>
            <ul class="footer__list">
                <li class="footer__item"><a href="#!" class="footer__link">Our Story</a></li>
                <li class="footer__item"><a href="#!" class="footer__link">Digest</a></li>
                <li class="footer__item"><a href="#!" class="footer__link">Ingredients</a></li>
                <li class="footer__item"><a href="#!" class="footer__link">Digestive</a></li>
                <li class="footer__item"><a href="#!" class="footer__link">Wholesale</a></li>
                <li class="footer__item"><a href="#!" class="footer__link">Press</a></li>
                <li class="footer__item"><a href="#!" class="footer__link">Careers</a></li>
            </ul>
        </div>
        <div class="footer__right">
            <form action="" class="footer__subscribe">
                <label for="email" class="footer__subscribe-label">Sign up for get 10% off your first order</label>
                <div class="footer__subscribe-group">
                    <input type="email" name="email" id="email" placeholder="Your Email Address" class="footer__subscribe-input" />
                    <button type="submit" class="btn btn--primary footer__subscribe-button">Subscribe</button>
                </div>
            </form>
            <div class="footer__social">
                <a href="#!" class="footer__social-link" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#!" class="footer__social-link" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="#!" class="footer__social-link" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="#!" class="footer__social-link" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
            &copy; 2025 All Rights Reserved. 
            <div class="footer__copy-links">
                <a href="#!" class="footer__copy-link">Privacy Policy</a>
                <a href="#!" class="footer__copy-link">Terms of Service</a>
            </div>
    </div>
</div>
